.main_form {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.input_submit {
  margin: 0;
  display: flex;
  justify-content: center;
}

#submit {
  width: 10vh;
  height: 5vh;
}
