ol {
  list-style-type: upper-roman;
}

.a {
  color: purple;
  text-decoration: overline;
  text-decoration-style: dotted;
  text-decoration-color: purple;
}

.b {
  color: green;
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: green;
}

.c {
  color: red;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: red;
}

.d {
  color: blue;
  text-decoration: line-through;
  text-decoration-color: blue;
}
